#!/bin/bash

hc() {
  herbstclient "$@" 
}

# Use this file for platform specific customization of herbstluft

#left handed mouse
xmodmap -e "pointer = 3 2 1"

setxkbmap -rules evdev -model evdev -layout us -variant altgr-intl -option caps:escape

